html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  background-color: #EFEFEF;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0 auto;
  padding: 2em 0 4em;
  font-family: "rooney-sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.65em;
  color: #424143; }

h1, h2, h3, h4, h5, h6 {
  color: #67666A;
  line-height: 1.3em;
  font-family: "rooney-sans",sans-serif;
  font-style: italic;
  font-weight: 900; }

h1 {
  font-size: 5em;
  line-height: .85em;
  text-transform: uppercase; }

h2 {
  margin-top: 1.3em; }

a {
  color: #F85200;
  text-decoration: none; }

b, strong {
  font-weight: 600; }

samp {
  display: none; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* MAIN STRUCTURE */
#content {
  margin: 0 auto;
  max-width: 1024px; }

#maps {
  position: absolute;
  right: 0;
  top: 0;
  width: 460px;
  z-index: -1; }

/* CONTENT */
.bubble {
  position: relative;
  width: 60%;
  padding: 1px 20px;
  margin: 30px 10px;
  background-color: #DFDFDF;
  border-radius: 40px 10px; }

.next {
  position: relative;
  width: 30%;
  margin-left: 40%;
  padding: 20px;
  background-color: #DFDFDF;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: "rooney-sans",sans-serif;
  font-style: italic;
  font-weight: 900;
  font-size: 2em; }

/* LINK BARS */
.link:before, .link:after {
  position: absolute;
  content: "";
  display: block;
  background-color: transparent; }

.link-v:before {
  bottom: 100%;
  left: 10px;
  width: 60px;
  height: 30px;
  border-radius: 0 10px 10px 0;
  box-shadow: 30px 0 0 #DFDFDF;
  z-index: 10; }

.link-v:after {
  bottom: 100%;
  left: 100px;
  width: 60px;
  height: 30px;
  z-index: 10;
  border-radius: 10px 0 0 10px;
  box-shadow: -30px 0 0 #DFDFDF; }

.right:before {
  right: 100px;
  left: auto; }

.right:after {
  right: 10px;
  left: auto; }

.link-h:before {
  top: 10px;
  left: 100%;
  width: 22.5px;
  height: 30px;
  border-radius: 0 0 0 10px;
  box-shadow: 0 15px 0 #807F83;
  z-index: 10; }

.link-h:after {
  top: 55px;
  left: 100%;
  width: 22.5px;
  height: 30px;
  z-index: 10;
  border-radius: 10px 0 0 0;
  box-shadow: 0 -15px 0 #807F83; }

/* END LINK BARS */
/* ICONS */
#part3 ul {
  width: 80%;
  margin: 0px auto; }
#part3 li {
  clear: both;
  padding: 1px;
  margin-bottom: 4em; }
  #part3 li:after {
    content: "";
    display: table;
    clear: both; }
  #part3 li .icon {
    position: relative;
    float: right;
    width: 30%;
    height: 150px;
    margin: 20px 10px;
    background-color: #807F83;
    border-radius: 10px; }
  #part3 li:nth-child(2n) .icon {
    float: left; }
  #part3 li .description {
    float: left;
    width: 65%;
    margin: 30px 0 0 0;
    padding: 10px 20px;
    text-align: right;
    background-color: #DFDFDF;
    border-radius: 10px; }
  #part3 li:nth-child(2n) .description {
    float: right;
    text-align: left; }

#part6 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px; }
  #part6 ul:after {
    content: "";
    display: table;
    clear: both; }
  #part6 li {
    float: left;
    width: 45%;
    height: 300px; }
    #part6 li:after {
      content: "";
      display: table;
      clear: both; }
    #part6 li:nth-child(2n) {
      float: right;
      text-align: left; }

footer {
  margin: 10em 460px 4em 0;
  text-align: right; }

/* MAPS */
.map {
  float: left;
  clear: both;
  margin: 0;
  height: 500px;
  background-size: 460px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: inset 20px 0 10px -20px black;
  width: 100%;
  background-position: right 0; }

#map1766 {
  background-image: url("../img/lo.1766.jpg"); }

#map1797 {
  background-image: url("../img/lo.1797.jpg"); }

#map1817 {
  background-image: url("../img/lo.1817.jpg"); }

#map1830 {
  background-image: url("../img/lo.1830.jpg"); }

#map1841 {
  background-image: url("../img/lo.1841.jpg"); }

#map1849 {
  background-image: url("../img/lo.1849.jpg"); }

#map1857 {
  background-image: url("../img/lo.1857.jpg"); }

#map1878 {
  background-image: url("../img/lo.1878.jpg"); }

#map1913 {
  background-image: url("../img/lo.1913.jpg"); }

#map1920 {
  background-image: url("../img/lo.1920.jpg"); }

#map1921 {
  background-image: url("../img/lo.1921.jpg"); }

#map2014 {
  background-image: url("../img/lo.2014.jpg"); }

/*# sourceMappingURL=main.css.map */
