---
---

$nyplred: #ed1c24;
$nypldarkgreen: #437529;
$nypllightgreen: lighten($nypldarkgreen, 20%);

$basefontsize: 16px;
$pagecolor: darken(#fff, 5%);
$textcolor: darken(#424143, 10%);
$headingcolor: darken(#67666A, 10%);
$linkcolor: $nypllightgreen;// #F85200;
$bubblecolor: lighten($pagecolor, 10%);//#DFDFDF;
$iconcolor: #807F83;
$radius: 10px;
$linkmargin: 60px;
$linksize: 30px;
$iconsize: 150px;
$mapwidth: 460px;
$contentwidth: 1024px;
$projectborder: 3px;
$timelinearrow: 1rem;

$mainbreakpoint: 980px;
$mobilebreakpoint: 800px;

$mainfont: "kievit light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerfont: "kievit bold", "Helvetica Neue Condensed Black", Helvetica, Arial, sans-serif;
$mapfont: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

@font-face {
    font-family:"kievit light";
    font-style:normal;
    font-weight:800;
    src:url("http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Light.woff") format('woff');}

@font-face {
    font-family:"kievit bold";
    font-style:bold;
    font-weight:800;
    src:url("http://ux-static.nypl.org.s3-website-us-east-1.amazonaws.com/ff_kievit_web/KievitWeb-Bold.woff") format('woff');}

@mixin titlestyle {
  font-family: $headerfont;
  font-style: normal;
  font-weight: 900;
}

@mixin textstyle {
  font-family: $mainfont;
  font-style: normal;
  font-weight: 400;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin fancy-shadow ($color: $pagecolor) {
  @include vendor-prefix('text-shadow', -1px -1px 0 $color, 1px -1px 0 $color, 1px 1px 0 $color, -1px 1px 0 $color, -2px 2px 0 $color);
}

@mixin vendor-prefix($name, $argument...) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin map_left($year) {
  $left: ($year - 1660)/(2016 - 1660) * 100;
  left: 0% + $left;
}

/* icomoon stuff */

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-8w9jy8');
  src:url('../fonts/icomoon.eot?#iefix-8w9jy8') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-8w9jy8') format('woff'),
    url('../fonts/icomoon.ttf?-8w9jy8') format('truetype'),
    url('../fonts/icomoon.svg?-8w9jy8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_citizens:before {
  content: "\e601";
}

.icon-icon_advisors:before {
  content: "\e600";
}

.icon-icon_developers:before {
  content: "\e602";
}

.icon-icon_partners:before {
  content: "\e603";
}

.icon-icon_lion:before {
  content: "\e604";
  display: block;
  font-size: 30px;
  margin-bottom: 5px;
}

/* /icomoon */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background-color: $pagecolor;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0 auto;
  padding: 0 0 4rem;
  @include textstyle;
  font-size: $basefontsize;
  line-height: 1.65;
  color: $textcolor;

  @media screen and (max-width: $mainbreakpoint) {
    font-size: $basefontsize * 0.9;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $headingcolor;
  line-height: 1.3;
  @include titlestyle;

  @media screen and (max-width: $mainbreakpoint) {
    line-height: 1;
  }
}

h2 {
  // width: 60%;
  // @include fancy-shadow;

  @media screen and (max-width: $mainbreakpoint) {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (max-width: $mainbreakpoint) {
    font-size: 3rem;
  }

  @media screen and (max-width: $mobilebreakpoint) {
    text-align: center;
    font-size: 2rem;
  }
}

h2 {
  margin-top: 0.5rem;

  @media screen and (max-width: $mobilebreakpoint) {
    text-align: center;
  }
}

p {
  max-width: 60rem;

  &.major-headline {
    font-size: 2rem;
  }

  &.minor-headline {
    font-size: 1.5rem;
  }

  @media screen and (max-width: $mainbreakpoint) {
    max-width: 45rem;
    line-height: 1.3;
  }
}

a {
  color: $linkcolor;
  text-decoration: none;
}

b, strong {
  @include titlestyle;
}

samp {
  display: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.centered {
  text-align: center;
}

/**/
#header {
  border-top: 2px solid $nypldarkgreen;
  background: white;
  .content {
    padding: 2rem 1rem 2rem 2rem;
  }
}

.nypllogo {
  display: block;
  // float: left;
  height: 3.5rem;
  width: 6.25rem;
  overflow: hidden;
  background: url("{{ site.baseurl}}/images/nypl.svg") no-repeat scroll 0px 0px/6.25rem auto white;
  text-indent: 12rem;
  white-space: nowrap;

  @media screen and (max-width: $mainbreakpoint) {
    // float: none;
    // margin: 0 auto;
    // text-align: center;
  }

}

#subheader {
  background-color: $nypllightgreen;
  color: white;

  .content {
    // padding: 2rem 1rem;
    // padding-left: (8.25rem + 1.8124rem);
  }

  h1, h2 {
    margin: 0;
    color: white;
  }
}

.knightlogo {
  display: inline-block;
  width: 200px;
  height: 33px;

  @media screen and (max-width: $mainbreakpoint) {
    // width: 90%;
    // height: auto;
    // max-width: 300px;

    // img {
    //   width: 100%;
    // }
  }
}

/* MAIN STRUCTURE */
.content {
  // margin: 0 auto;
  max-width: $contentwidth;
  margin: 0 auto;
  padding: 2rem 1rem;
  padding-left: (8.25rem + 1.8124rem);

  @media screen and (max-width: $mainbreakpoint) {
    margin: 0 auto;
  }
}

.biglink {
  text-transform: uppercase;
  font-size: 2rem;
  @include titlestyle;

  @media screen and (max-width: $mainbreakpoint) {
    font-size: 1.2rem;
  }
}

.next {
  position: relative;
  width: 30%;
  margin-left: 40%;
  padding: 20px;
  background-color: $bubblecolor;
  border-radius: $radius;
  text-align: center;

  @media screen and (max-width: $mainbreakpoint) {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.fineprint {
  margin: 10rem $mapwidth 4rem 0;
  text-align: right;

  @media screen and (max-width: $mobilebreakpoint) {
    margin-left: $radius*2;
    margin-right: $radius*2;
    text-align: center;
    background-color: $bubblecolor;
    border-radius: $radius;
    padding: $radius;
  }

  p {
    width: 50%;
    margin-left: 45%;

    @media screen and (max-width: $mobilebreakpoint) {
      width: auto;
      margin-left: 0;
    }
  }
}

.thanks {
  position: absolute;
  bottom: 10px;
  right: 100%;
  width: 240px;
  font-size: 0.7rem;
  line-height: 1.5;

  @media screen and (max-width: $mobilebreakpoint) {
    display: none;
  }
}

/* MAPS */

.map {
  position: relative;
  clear: both;
  margin: 0;
  height: 200px;
  // background-size: cover;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center 0;
  // border-top: 1px solid $pagecolor;
  border-bottom: 1px solid $pagecolor;
  // @include vendor-prefix(box-shadow, inset ($mapshadow * 2) 0 $mapshadow (-$mapshadow * 2) #000);

  &:nth-child(1), &:nth-child(2) {
    border-top: none;
  }

  @media screen and (max-width: $mainbreakpoint) {
    // border-left: none;
    // @include vendor-prefix(box-shadow, none);
  }

  h2 {
    position: absolute;
    right: 0;
    left: 0;
    font-family: $mainfont;
    font-style: normal;
    font-size: 2rem;
    margin: 0 10px 0 0;
    color: #fff;
    width: 5rem;
    text-align: center;
    @include vendor-prefix('text-shadow', 0 0 4px #000);

    @media screen and (max-width: $mobilebreakpoint) {
      display: none;
    }

    &.top:before, &.bottom:after {
        display: block;
        position: absolute;
        left: 0;
        content: "";
        width: $timelinearrow;
        height: $timelinearrow;
        border: $timelinearrow solid transparent;
    }

    &.top {
      top: $timelinearrow;

      &:before {
        top: -$timelinearrow*2;
        border-bottom-color: $nypllightgreen;
      }
    }

    &.bottom {
      bottom: $timelinearrow;

      &:after {
        bottom: -$timelinearrow*2;
        border-top-color: $nypllightgreen;
      }
    }
  }
}

@each $year in 1660, 1766, 1797, 1817, 1830, 1841, 1849, 1857, 1878, 1913, 1920, 1921, 2014 {
  .map#{$year} {
    background-image: url("{{ site.baseurl }}/images/layer_#{$year}.jpg");
    h2 {
      @include map_left($year);
    }
  }
}

#footer {
  margin: 20rem $mapwidth 0 0;
  text-align: right;
  font-size: 0.7rem;
  line-height: 1.4;

  @media screen and (max-width: $mobilebreakpoint) {
    margin-left: $radius*2;
    margin-right: $radius*2;
    text-align: center;
    background-color: $bubblecolor;
    border-radius: $radius;
    padding: $radius;
  }

  p {
    width: 50%;
    margin-left: 45%;

    @media screen and (max-width: $mobilebreakpoint) {
      width: auto;
      margin-left: 0;
    }
  }

  .nypl {
    color: $textcolor;
    display: block;
  }

  .icon-icon_lion {
    color: $textcolor;
    display: block;
  }

}
//
// .collection-item-wrapper:after {
//     content: '';
//     display: block;
//     padding-top: 66.65%;


#projects {
  @include clearfix;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects li {
  width: 32%;
  box-sizing: border-box;
}

li.project-container {
  background-color: $pagecolor;

  h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    background-color: $pagecolor;
    line-height: 1;
    margin: 0;
    border-right: $projectborder solid $linkcolor;
    display: inline;
    width: 80%;
    -webkit-box-decoration-break: clone;
  }

  p {
    padding: 0 0.5rem;
  }

  .project-image-container {
    position: relative;

    a {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1;
    }

    img.project-image {
      display: block;
      width: 100%;
    }

  }

  &.featured {
    width: 100%;

    h3 {
      font-size: 2rem;
      // height: 20rem;
      width: 32%;
      // border-top: none;
      // border-right: $projectborder solid $linkcolor;
    }

    .project-image-container {
      height: 20rem;
    }

  }

  &.project {
    width: 49%;

    h3 {
      font-size: 1.5rem;
      width: 65%;
    }
  }

}

.button {
  background-color: $linkcolor;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: white;
  padding: 10px 13px;
  text-decoration:none;
  margin: 0 auto;
}

.github {
  width: 1rem;
  top: 3px;
  position: relative;
}
