$pagecolor: #EFEFEF;
$textcolor: #424143;
$headingcolor: #67666A;
$linkcolor: #F85200;
$bubblecolor: #DFDFDF;
$iconcolor: #807F83;
$radius: 10px;
$linkmargin: 60px;
$linksize: 30px;
$iconsize: 150px;
$mapwidth: 460px;

$mainfont: "rooney-sans",sans-serif;
$mapfont: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

@mixin titlestyle {
  font-family: $mainfont;
  font-style: italic;
  font-weight: 900;
}

@mixin textstyle {
  font-family: $mainfont;
  font-style: normal;
  font-weight: 400;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vendor-prefix($name, $argument...) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/* icomoon stuff */

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-8w9jy8');
  src:url('../fonts/icomoon.eot?#iefix-8w9jy8') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-8w9jy8') format('woff'),
    url('../fonts/icomoon.ttf?-8w9jy8') format('truetype'),
    url('../fonts/icomoon.svg?-8w9jy8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_citizens:before {
  content: "\e601";
}

.icon-icon_advisors:before {
  content: "\e600";
}

.icon-icon_developers:before {
  content: "\e602";
}

.icon-icon_partners:before {
  content: "\e603";
}

.icon-icon_lion:before {
  content: "\e604";
  display: block;
  font-size: 30px;
  margin-bottom: 5px;
}

/* /icomoon */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background-color: $pagecolor;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0 auto;
  padding: 2em 0 4em;
  @include textstyle;
  font-size: 18px;
  line-height: 1.65em;
  color: $textcolor;
}

h1, h2, h3, h4, h5, h6 {
  color: $headingcolor;
  line-height: 1.3em;
  @include titlestyle;
}

h2 {
  @include vendor-prefix('text-shadow', 0 0 5px $pagecolor, 0 0 5px $pagecolor, 0 0 5px $pagecolor, 0 0 5px $pagecolor, 0 0 5px $pagecolor);
}

.centered {
  text-align: center;
}

h1 {
  font-size: 5em;
  line-height: .85em;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0.5em;
}

a {
  color: $linkcolor;
  text-decoration: none;
}

b, strong {
  font-weight: 600;
}

samp {
  display: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/**/
#logos {
  height: 80px;
  width: 460px;
  margin: -30px auto 0;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.nypllogo {
  display: inline-block;
  height: 60px;
  width: 110px;
  overflow: hidden;
  background: url("../img/nypl.svg") no-repeat scroll 0px 0px/100px auto white;
  text-indent: 120px;
  white-space: nowrap;
}

.knightlogo {
  display: inline-block;
  width: 300px;
  height: 50px;
}

/* MAIN STRUCTURE */
#content {
  margin: 0 auto;
  max-width: 1024px;
}

#maps {
  position: absolute;
  right: 0;
  top: 0;
  width: $mapwidth;
  z-index: -1;
}

#snap {
  width: 550px;
  height: 400px;
  background-color: $bubblecolor;
  border-radius: 20px;
  // box-shadow: 0 0 10px 0px rgba(0,0,0,0.5);
}

/* CONTENT */
.bubble {
  position: relative;
  width: 60%;
  padding: 1px ($radius * 2);
  margin: $linksize 10px;
  background-color: $bubblecolor;
  border-radius: ($radius * 4) $radius;
}

.biglink {
  text-transform: uppercase;
  font-size: 2em;
  @include titlestyle;
}

.next {
  position: relative;
  width: 30%;
  margin-left: 40%;
  padding: 20px;
  background-color: $bubblecolor;
  border-radius: $radius;
  text-align: center;
}

/* LINK BARS */
.link:before, .link:after {
  position: absolute;
  content: "";
  display: block;
  background-color: transparent;
}

.link-v:before {
  bottom: 100%;
  left: $radius;
  width: $linkmargin;
  height: $linksize;
  border-radius: 0 $radius $radius 0;
  @include vendor-prefix(box-shadow, $linksize 0 0 $bubblecolor);
  z-index: 10;
}

.link-v:after {
  bottom: 100%;
  left: ($radius + ($linkmargin * 1.5));
  width: $linkmargin;
  height: $linksize;
  z-index: 10;
  border-radius: $radius 0 0 $radius;
  @include vendor-prefix(box-shadow, -$linksize 0 0 $bubblecolor);
}

.right:before {
  right: ($radius + ($linkmargin * 3));
  left: auto;
}

.right:after {
  right: $radius;
  left: auto;
}

.middle:before {
  right: 280px;
  left: auto;
}

.middle:after {
  right: (280-($linkmargin*1.5));
  left: auto;
}

.link-h:before {
  top: $radius;
  left: 100%;
  width: ($linksize * .75);
  height: $linksize;
  border-radius: 0 0 0 $radius;
  @include vendor-prefix(box-shadow, 0 ($linksize * .5) 0 $iconcolor);
  z-index: 10;
}

.link-h:after {
  top: $radius+$linksize*1.5;
  left: 100%;
  width: ($linksize * .75);
  height: $linksize;
  z-index: 10;
  border-radius: $radius 0 0 0;
  @include vendor-prefix(box-shadow, 0 (-$linksize * .5) 0 $iconcolor);
}
/* END LINK BARS */

/* ICONS */
#part3 {
  position: relative;
  @include clearfix;

  #animation {
    display: none;
    position: absolute;
    width: 550px;
    height: 400px;
    top: 0;
    left: 410px;
    @include vendor-prefix(box-shadow, 0 0 10px 0 rgba(0,0,0,0.5));
    border-radius: 20px;
  }

  ul {
    width: 410px;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  li {
    clear: both;
    padding: 1px;
    margin: $radius*3 0 0 0;
    padding: $radius ($radius * 2);
    text-align: left;
    @include titlestyle;
    text-align: right;
  }
}

#part6 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $linkmargin;

  ul {
    @include clearfix;
  }

  li {
    position: relative;
    float: left;
    width: 50%;
    height: 340px;
    padding: $radius ($radius * 2);
    color: $textcolor;
    background-color: $iconcolor;
    @include clearfix;

    a {
      display: inline-block;
      background-color: $linkcolor;
      color: $pagecolor;
      padding: 0 10px;
      border-radius: 5px;
    }

    h3, p {
      color: $pagecolor;
    }

    &:nth-child(2n) {
      float: right;
      text-align: left;
    }

    &:nth-child(2), &:nth-child(3) {
      background-color: $bubblecolor;

      h3, .icon, p {
        color: $headingcolor;
      }
    }

    &:nth-child(1) {
      border-radius: $radius 0 0 0;
    }

    &:nth-child(2) {
      border-radius: 0 $radius 0 0;
    }

    &:nth-child(3) {
      border-radius: 0 0 0 $radius;
    }

    &:nth-child(4) {
      border-radius: 0 0 $radius 0;
    }
  }

  .icon {
    position: absolute;
    width: 150px;
    height: 150px;
    font-size: 150px;
    bottom: 0;
    right: ($radius * 2);
    color: $pagecolor;

    &.left {
      right: auto;
      left: ($radius * 2);
    }
  }
}

#part4, #part5 {
  margin-left: auto;
  margin-right: auto;
  border-radius: $radius;
}

#part7 {
  margin-left: auto;
  margin-right: auto;
  border-radius: $radius;
}

.fineprint {
  margin: 10em $mapwidth 4em 0;
  text-align: right;

  p {
    width: 50%;
    margin-left: 45%;
  }
}

.thanks {
  position: absolute;
  bottom: 10px;
  right: 100%;
  width: 200px;
}

/* MAPS */
$mapshadow: 10px;
.map {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  height: 500px;
  background-size: $mapwidth;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  background-position: right 0;
  border-top: 1px solid $pagecolor;
  @include vendor-prefix(box-shadow, inset ($mapshadow * 2) 0 $mapshadow (-$mapshadow * 2) #000);

  &:nth-child(1), &:nth-child(2) {
    border-top: none;
  }

  h2 {
    position: absolute;
    right: 10px;
    font-family: $mapfont;
    font-style: normal;
    font-size: 1.5em;
    margin: 0 10px 0 0;
    color: #fff;
    text-align: right;
    @include vendor-prefix('text-shadow', 0 0 4px #000);

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }
  }
}

.map1660 {
  background-image: url("../img/lo.1660.jpg");
}

.map1766 {
  background-image: url("../img/lo.1766.jpg");
}

.map1797 {
  background-image: url("../img/lo.1797.jpg");
}

.map1817 {
  background-image: url("../img/lo.1817.jpg");
}

.map1830 {
  background-image: url("../img/lo.1830.jpg");
}

.map1841 {
  background-image: url("../img/lo.1841.jpg");
}

.map1849 {
  background-image: url("../img/lo.1849.jpg");
}

.map1857 {
  background-image: url("../img/lo.1857.jpg");
}

.map1878 {
  background-image: url("../img/lo.1878.jpg");
}

.map1913 {
  background-image: url("../img/lo.1913.jpg");
}

.map1920 {
  background-image: url("../img/lo.1920.jpg");
}

.map1921 {
  background-image: url("../img/lo.1921.jpg");
}

.map2014 {
  background-image: url("../img/lo.2014.jpg");
}

#footer {
  margin: 20em $mapwidth 0 0;
  text-align: right;
  font-size: 0.7em;
  line-height: 1.4em;

  p {
    width: 50%;
    margin-left: 45%;
  }

  .nypl {
    color: $textcolor;
    display: block;
  }

  .icon-icon_lion {
    color: $textcolor;
    display: block;
  }

}