---
---


<div id="" class="">
  <div class="content">
    <p class="minor-headline">
    <p>The New York Public Library is creating a digital time-travel service for New York City with historical maps, collections rich in geospatial data, and the public's help.</p>
    <p>The NYC Space/Time Directory will make urban history accessible through a set of resources including: a searchable atlas of New York past, an historical location directory and geocoder, a set of APIs and data sets, and a discovery tool linking the Library's collections together in an historical and geographic context.</p>
    <p>These explorations will provide a way for scholars, students,  enthusiasts, and Librarians to explore New York City across time periods and to add their own knowledge and expertise.</p>
    <p>With the Space/Time Directory we're developing a programming model and freely accessible codebase for other cities, libraries, and individuals to map and explore history. Data sources are listed in our related resources section below and those interested in working with our open code repos can visit <a href="https://github.com/nypl-spacetime">GitHub</a> to get started!</p>
    <p>Ready to travel through time and space? Explore our Space/Time resources below to start discovering and contributing to New York City history.</p>
  </div>
</div>
<!--
<div class="map map1913"><h2 class="bottom">1913</h2></div>
<div class="map map1878"><h2 class="top">1878</h2></div>
 -->
<div id="projects">
  <div class="content">

    {% include project-list.html type="featured" %}


    {% include project-list.html type="project" %}


    {% include project-list.html type="sketch" %}

  </div>

<!-- <div class="map map1849"><h2 class="bottom">1849</h2></div>
<div class="map map1830"><h2 class="top">1830</h2></div>
 -->
  <div class="content">
    {% include project-list.html type="resource" %}
  </div>
</div>

<div class="content">
  <blockquote class="">Interested? Sign up to receive updates on new tools, new data sources, and engagement opportunities! Contact us via email to <a href="mailto:spacetime@nypl.org">spacetime@nypl.org</a> or at  our Twitter account <a href="https://twitter.com/nypl_labs">@nypl_labs</a>.</blockquote>
</div>

<!--<div class="content">
  <h2 class="bordered">Credits</h2>
  <ul>
    <li><strong>Bert Spaan</strong> - Lead Developer</li>
    <li><strong>Shana Kimball</strong> - Manager of Public Programs and Outreach</li>
    <li><strong>Willa Armstrong</strong> - title</li>
    <li><strong>Mauricio Giraldo Arteaga</strong> - Manager of Product and R&amp;D</li>
    <li><strong>someone else</strong> - some title</li>
  </ul>
</div>
-->
<!-- <div class="map map1817"><h2 class="bottom">1817</h2></div>
<div class="map map1797"><h2 class="top">1797</h2></div>
<div class="map map1766"><h2 class="top">1766</h2></div>
 -->
