{% include anchor.html tag="h2" class="bordered" text="Architecture" id="architecture" %}
<p>
  For in-depth information on all the parts, components and datasets that make up the NYC Space/Time Directory (and how they work together), see the project’s <a href='http://spacetime.nypl.org/architecture'>architecture page</a>.
</p>
<p>
  <a class='no-border' href='http://spacetime.nypl.org/architecture'>
    <img src="http://s3.amazonaws.com/spacetime-nypl-org/datasets/data-dependencies/spacetime-graph.svg" />
  </a>
</p>
