{% include anchor.html tag="h2" class="bordered" text="Code" id="code" %}
<p>
  The table below lists open source repositories made for the NYC Space/Time Directory that might be useful in other projects, too.
  More repositories can be found on <a href="https://github.com/nypl-spacetime/">the project’s GitHub page</a>.
</p>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Repository</th>
        <th>Description</th>
        <th>Technology</th>
      </tr>
    </thead>
    <tbody>
      {% for repo in site.data.github.repos %}
      <tr>
        <td>
          <div class="monospace-name">
            <a href="https://github.com/nypl-spacetime/{{ repo.name }}">{{ repo.name }}</a>
          </div>
        </td>
        <td>
          {{ repo.description }}
        </td>
        <td>
          {{ repo.technology }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>