{% include anchor.html tag="h2" class="bordered" text="Data" id="data" %}
<p>
  The table below lists datasets available in the NYC Space/Time Directory. Each Dataset consists of a <a href="https://frictionlessdata.io/data-packages/">Data Package descriptor</a>, and two <a href="http://ndjson.org/">Newline Delimited JSON</a> (NDJSON) files: one with all the dataset’s <a href="https://github.com/nypl-spacetime/spacetime-schemas#objects">Objects</a> , the other one with its <a href="https://github.com/nypl-spacetime/spacetime-schemas#relations">Relations</a>.
</p>
<p>
  Each Dataset is available in a few different file formats (e.g. ZIP, NDJSON, GeoJSON), see the <a href="#dataset-file-types">File Types</a> table below for details.
</p>
<p>
  For more information on working with data from the NYC Space/Time Directory, see the <a href="https://github.com/nypl-spacetime/spacetime-data/">Data &amp; Tools repository on GitHub</a>.
</p>
<div class="table-container">
  <table id="datasets">
    <thead>
      <tr>
        <th>Dataset</th>
        <th colspan="2">Data</th>
        <th>License</th>
      </tr>
    </thead>
    <tbody>
      {% for dataset in site.data.datasets.datasets %}
      {% capture evenodd %}{% cycle 'odd', 'even' %}{% endcapture %}
      <tr class="{{ evenodd }} no-padding-bottom">
        <td>
          <div>
            {% assign id=dataset.name | prepend: 'data-' %}
            {% include anchor.html tag="span" class="monospace-name dataset-name" text=dataset.name id=id %}
            {% if dataset.type %}
              {% for type in dataset.type %}
                <span class="monospace-name dataset-type dataset-type-{{ type }}" title="{{ site.data.datasets.types[type].title }}">
                  {{ site.data.datasets.types[type].code }}
                </span>
              {% endfor %}
            {% endif %}
          </div>
          <div class="project-description">{{ dataset.description }}</div>
        </td>
        <td>
          <a href="{{ site.s3-url }}{{ dataset.name }}/{{ dataset.name }}.zip">
            ZIP
          </a>
        </td>
        <td>
          <a href="{{ site.s3-url }}{{ dataset.name }}/{{ dataset.name }}.geojson">
            GeoJSON
          </a>
        </td>
        <td nowrap>
          {% if site.data.licenses[dataset.license] %}
          <a href="{{ site.data.licenses[dataset.license] }}">{{ dataset.license }}</a>
          {% else %}
          {{ dataset.license }}
          {% endif %}
        </td>
      </tr>
      {% assign details-id=dataset.name | prepend: 'dataset-details-' %}
      <tr class="{{ evenodd }} dataset-details-off no-padding-top" id="{{ details-id }}-off">
        <td colspan="4">
          <a class="dataset-view-details" href="javascript:void(0)" data-dataset-details-id="{{ details-id }}" data-dataset-name="{{ dataset.name }}">View details</a>
        </td>
      </tr>
      <tr class="{{ evenodd }} dataset-details-on no-padding-top" id="{{ details-id }}-on">
        <td colspan="4" id="{{ details-id }}-content" ></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h3>{% include anchor.html tag="span" text='File types' id='dataset-file-types' %}</h3>
<dl>
  <dt>
    <span class="monospace-name">
      NDJSON
    </span>
  </dt>
  <dd>
    <p>
      <a href="http://ndjson.org/">Newline Delimited JSON</a>: one JSON object per line. <a href=" https://github.com/nypl-spacetime/spacetime-data">See GitHub</a> for more information on using these files. A NYC Space/Time Directory Dataset can contain two NDJSON files: one with its <a href="https://github.com/nypl-spacetime/spacetime-schemas#objects">Objects</a>, and one with its <a href="https://github.com/nypl-spacetime/spacetime-schemas#relations">Relations</a>.
    </p>
  </dd>
  <dt>
    <span class="monospace-name">
      ZIP
    </span>
  </dt>
  <dd>
    <p>
      Compressed archive of all files in the Dataset: a <a href="href="https://frictionlessdata.io/data-packages/>Data Package descriptor</a>, Objects and Relations files, as well as derived GeoJSON and CSV files.
    </p>
  </dd>
  <dt>
    <span class="monospace-name">
      GeoJSON
    </span>
  </dt>
  <dd>
    <p>
      This file contains all Objects in the Dataset that have geometries (either a point, line or polygon), converted to <a href="https://tools.ietf.org/html/rfc7946#section-3.2">GeoJSON Features</a>. Please note: the GeoJSON file does not contain Objects without geometries! For example, the GeoJSON file of the <code>city-directories</code> Dataset does not contain Objects that are not geocoded.
    </p>
  </dd>
  <dt>
    <span class="monospace-name">
      GeoJSON
    </span> (simplified)
  </dt>
  <dd>
    <p>
      The simplified GeoJSON file contains the same data as the normal GeoJSON file, but the nested <code>data</code> property is flattened, and its fields converted to unnested properties. This makes using this file in QGIS and other tools a lot easier, but some structure may be lost.
    </p>
  </dd>
  <dt>
    <span class="monospace-name">
      CSV
    </span>
  </dt>
  <dd>
    <p>
      The CSV file contains all Objects in the Dataset (with and without geometries), but the same flattening< is applied as in the simplified GeoJSON file to convert the nested JSON structure of the Objects to tabular data.
    </p>
  </dd>
</dl>


<h3>{% include anchor.html tag="span" text='Dataset types' id='dataset-types' %}</h3>
<dl class="dataset-types">
  {% for type in site.data.datasets.types %}
  <dt>
    <span class="monospace-name dataset-type dataset-type-{{ type[0] }}">
      {{ type[1].title }}
    </span>
  </dt>
  <dd>
    <p>
      {{ type[1].description }}
    </p>
  </dd>
  {% endfor %}
</dl>
