<div id="footer" class="content">
  <p>
  • <a href="http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy">Privacy Policy</a> • <a href="http://www.nypl.org/help/about-nypl/legal-notices/rules-and-regulations">Rules and Regulations</a> • <a href="http://www.nypl.org/policy-patron-generated-web-content">Policy on Patron-Generated Web Content</a> • <a href="http://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions">Terms and Conditions</a> •
  </p>
  <p>
  The data produced through this project is covered by a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 1.0 Universal Public Domain</a> designation. By participating in this project, you agree that any copyrightable content you submit shall be subject to a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons CC0 1.0 Universal Public Domain Dedication</a>
  </p>
  <p>A project of <a href="http://www.nypl.org/collections/labs">NYPL Labs</a> and the <a href="http://www.nypl.org/locations/divisions/map-division">Lionel Pincus and Princess Firyal Map Division</a>.<br /><br /></p>
  <p>
    <a class="nypl noborder" href="http://www.nypl.org" title="Visit NYPL.org">
      <span class="icon-icon_lion">
        </span>The New York Public Library</a>
  </p>
  <p>© The New York Public Library, Astor, Lennox, and Tilden Foundation 2016</p>
</div>

<div class="map map1849"><h2 class="top">1849</h2></div>
