<div id="header">
  <div class="content">
    <a class="nypllogo noborder" href="//nypl.org">The New York Public Library</a>
  </div>
</div>
<div id="subheader">
  <div class="content">
    <h1>NYC Space/Time Directory</h1>
    <h2>Let's build the future of New York City's past</h2>
    <p>with support from<br /><a class="noborder" href="http://www.knightfoundation.org/"><img src="{{ site.baseurl }}/images/knight-logo.svg" alt="Knight Foundation Logo" class="knightlogo" /></a></p>
  </div>
</div>
