{% include anchor.html tag="h2" class="bordered" text="Meetups" id="meetups" %}
<p>
  <a href="https://www.meetup.com/historical-data-and-maps-at-nypl">Historical Data &amp; Maps at NYPL</a> is a series of public workshops and talks which will highlight different parts of New York City’s history using data and maps from the NYC Space/Time Directory. In this series, we will focus on making new maps with old data using open source mapping tools, and learning how to use the Library’s open data sets and APIs to tell stories about New York City’s history by finding and combining materials from the NYPL’s Digital Collections.
</p>
<p>
  Past and upcoming events:
</p>
<div class="table-container">
  <table id="meetups-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
