<h2 class="">{{ include.title }}</h2>
<ul class="projects">
{% for project in site.data.projects %}

  {% if project.category == include.type %}
  <li class="project-container {{ project.category }}">
      <div class="project-image-container">
        <a href="{{ project.url }}" style="background-image: url({{ site.baseurl}}/images/projects/{{ project.image }});">
        </a>
      </div>
      <h3>{{ project.name }}</h3>
      <div class="project-description">
        <p>{{ project.description}}</p>
        {% if project.github %}
        <p>
          <a href="{{ project.github }}">
            View project on GitHub
          </a>
        </p>
        {% endif %}
        {% if project.contribute %}
        <p>
          <a class="button" href="{{ project.contribute }}">
            Contribute!
          </a>
        </p>
        {% endif %}
      </div>
  </li>

  {% endif %}
{% endfor %}
</ul>
