<h2 class="part4">{{ include.title }}</h2>
<ul>
{% for project in site.data.projects %}

  {% if project.category == include.type %}
  <li>
    <div class="project-container">
      <a href="{{ project.url }}">
      <img class="project-image" src="{{ site.baseurl}}/images/projects/{{ project.image }}" />
      </a>
      <h3>{{ project.name }}</h3>
      <p>{{ project.description}}</p>

      {% if project.github %}
      <p>
        <a href="{{ project.github }}">
          View project on GitHub
        </a>
      </p>
      {% endif %}

      {% if project.contribute %}
      <p>
        <a class="button" href="{{ project.contribute }}">
          Contribute!
        </a>
      </p>
      {% endif %}
    </div>
  </li>

  {% endif %}
{% endfor %}
</ul>
