{% for category in site.data.projects %}
  {% if category.type == include.type %}
  {% assign the_category = category %}
  {% endif %}
{% endfor %}

<h2 class="bordered">{{ the_category.title }}</h2>

<p>{{ the_category.description }}</p>

<ul class="projects">
{% for project in the_category.projects %}

  <li class="project-container {{ project.category }}">
      <div class="project-image-container">
        <a href="{{ project.url }}" class="noborder">
          <img class="project-image" src="{{ site.baseurl}}/images/projects/{{ project.image }}" />
        </a>
        <h3><a href="{{ project.url }}" class="noborder">{{ project.name }}</a></h3>
      </div>
      <div class="project-description">
        {% if project.contribute %}
        <a class="cta" href="{{ project.contribute }}">
          Contribute!
        </a>
        {% endif %}
        {% if project.explore %}
        <a class="cta" href="{{ project.explore }}">
          Explore!
        </a>
        {% endif %}
        <p>{{ project.description}}</p>
        {% if project.github %}
        <p>
        <a href="{{ project.github }}">
          View project source code on GitHub
        </a>
        </p>
        {% endif %}
      </div>
  </li>

{% endfor %}
</ul>
