        <div id="maps">
          <div class="map2014 map" >
          </div>
          <div class="map2014 map" >
            <h2 class="bottom">PRESENT</h2>
          </div>
          <div class="map1921 map" >
            <h2 class="top">1921</h2>
            <h2 class="bottom">1921</h2>
          </div>
          <div class="map1920 map" >
            <h2 class="top">1920</h2>
            <h2 class="bottom">1920</h2>
          </div>
          <!-- <div class="map1913 map" >
          <h2 class="top">1913</h2>
          <h2 class="bottom">1913</h2>
        </div> -->
        <!-- <div class="map1878 map" >
        <h2 class="top">1878</h2>
        <h2 class="bottom">1878</h2>
      </div> -->
      <div class="map1857 map" >
        <h2 class="top">1857</h2>
        <h2 class="bottom">1857</h2>
      </div>
      <div class="map1849 map" >
        <h2 class="top">1849</h2>
        <h2 class="bottom">1849</h2>
      </div>
      <div class="map1841 map" >
        <h2 class="top">1841</h2>
        <h2 class="bottom">1841</h2>
      </div>
      <div class="map1830 map" >
        <h2 class="top">1830</h2>
        <h2 class="bottom">1830</h2>
      </div>
      <div class="map1817 map" >
        <h2 class="top">1817</h2>
        <h2 class="bottom">1817</h2>
      </div>
      <div class="map1797 map" >
        <h2 class="top">1797</h2>
        <h2 class="bottom">1797</h2>
      </div>
      <div class="map1766 map" >
        <h2 class="top">1766</h2>
        <h2 class="bottom">1766</h2>
      </div>
      <div class="map1660 map" >
        <h2 class="top">1660</h2>
        <h2 class="bottom">1660</h2>
      </div>
      <div class="thanks">
        <p>Thanks for scrolling! :-)<br />
        <a href="//spacetime.nypl.org/scrollnyc/">See these maps really big</a> or <a href="#content">go to top</a>.</p>
      </div>
    </div>
