<h3>Table of Contents</h3>
<ol id="table-of-contents">
  <li><a href="#new-&-featured">New & Featured</a></li>
  <li><a href="#projects">Projects</a></li>
  <li><a href="#data">Data</a></li>
  <li><a href="#meetups">Meetups</a></li>
  <li><a href="#tutorials">Tutorials</a></li>
  <li><a href="#code">Code</a></li>
  <li><a href="#architecture">Architecture</a></li>
  <li><a href="#articles">Articles</a></li>
  <li><a href="#tools-&-experiments">Tools &amp; Experiments</a></li>
  <li><a href="#related-resources">Related Resources</a></li>
</ol>
