{% include anchor.html tag="h2" class="bordered" text="Tutorials" id="tutorials" %}
<p>
  The following tutorials demonstrate how you can use tools and datasets from the NYC Space/Time Directory:
</p>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Tools used</th>
      </tr>
    </thead>
    <tbody>
      {% for tutorial in site.data.tutorials %}
      <tr>
        <td>
          <a href="{{ tutorial.url }}">{{ tutorial.title }}</a>
        </td>
        <td>
          {{ tutorial.tools }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
